.block-container{
    column-width: 320px;
    column-gap: 20px;
}
.blocks {
    display: inline-block;
    margin: 2px 2px 2px 0;
    padding: 7px;
    font-size: 13px;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    outline: 0;
    transition: 50ms border-color ease-in-out;
    width: 320px;
    overflow: hidden;
    cursor: pointer;
    background: #fff;
}

.blocks > .info {
    border-style: solid;
    border-width: 0 0 0 5px;
    padding: 0 5px;
    color: #666;
}

.blocks > .message {
    color: #888;
}

.blocks > .response {

}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 2;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 80%;
    border-style: solid;
    max-height: 80vh;
    max-width: 800px;
    overflow: auto;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

#m0_content > .blocks{
    width: 90%;
}


#m0_content > textarea{
    margin-top: 20px;
    width: 100%;
}

.sexpert-form-input {
    width: 100%;
}

.sexpert-form-select {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 0;
    color: inherit;
}

.sexpert-form > .message {
    display: block;
    font-size: 85%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 700;
}

.sexpert-form > textarea{
    margin: 10px 0;
    width: 100%;
}

.gender-row{
    display: flex;
    justify-content: space-around;
}

.gender-col{
    display: block;
}

#age{
    margin-top: 17px;
    margin-left: 20px;
}

#email{
    margin-left: 20px;

}

.basic-info{
    display: flex;
    margin-bottom: 20px;
}

.alert{
    background: antiquewhite;
    margin: 20px 0;
    padding: 20px;
    border-radius: 2px;
}

.modal-textbox{
    border: solid 1px #888888;
    padding: 0 10px;

}